* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s;
}
:root {
  --fplpurple: #37003c;
  --fplblue: #1A8CD8;
  --fplgreen: #01fc7a;
  --fplpink: #ff1751;
  --fpldarkred: #80072d;
  --red: #ff1751;
  --fplyellow: #d8bd14;
  --fpllightpurple: #963CFF;
  --fplgreenstripelight: #01ba5c;
  --fplgreenstripedark: #00ae55;
  --tableRow: #FFFFFF;
  --oddTableRow: #FAFAFA;
  --text: black;
  --highlight: lightgrey;
}
[data-theme="dark"] {
  --fplpurple: #0F3460;
  --fplblue: #16213E;
  --fplgreen: #01fc7a;
  --fplpink: #ff1751;
  --fpldarkred: darkred;
  --fplyellow: yellow;
  --fpllightpurple: darkblue;
  --fplgreenstripelight: #16213E;
  --fplgreenstripedark: #1A1A2E;
  --tableRow: #16213E;
  --oddTableRow: #1A1A2E;
  --text: whitesmoke;
  --highlight: #270082;
  --red: #80072d;
}


body {
  background-color: #ffffff;
  color: white;
  font-family: "Poppins", sans-serif;
}
.page {  
  min-height: calc(100vh - 50px);
  text-align: center;
  width: 100%;
  margin: auto;
  background: repeating-linear-gradient(
    135deg,
    var(--fplgreenstripelight) 0px,
    var(--fplgreenstripelight) 50px,
    var(--fplgreenstripedark) 50px,
    var(--fplgreenstripedark) 100px
  );
  position: relative;
}

.user-details {
  width: 100%;
  min-height: 20px;
  display: flex;
  color: whitesmoke;
  border-radius: 10px;
}

.user-details .left {
  min-height: 100%;
  width: 50%;
  text-align: left;
  float: left;
  background-color: var(--fplblue);
  padding: 10px;
  border: 2px solid #ffffff;
}

.user-details .right {
  min-height: 100%;
  width: 50%;
  text-align: right;
  float: right;
  background-color: var(--fplblue);
  padding: 10px;
  border: 2px solid #ffffff;
}

.form {
  background-color: var(--fplpurple);
  padding: 20px;
  margin: auto;
  width: 70%;  
  height: 100px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 160px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: none;
  width: 70%;
  height: 50px;
  font-weight: bolder;
  flex-grow: 2;
  padding-left: 5px;
  border-radius: 0;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}
.send-button {
  background-color: var(--fplgreenstripelight);
  width: 20%;
  border: none;
  height: 50px;
  vertical-align: middle;
  color: white;
  cursor: pointer;
}
.share-button{
  background-color: var(--fplblue);
  color: white;
  max-width: 100px;
}
.center {
  margin: auto;
  width: 50%;
}
.middle{
  margin-top: 45%;
}
.score {
  background-color: var(--fplpurple);
  width: 75%;
  max-width: 400px;
  height: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
}
.fa{
  margin-top: 10px;
  font-size: 36px !important;
  text-decoration: none!important ;  

}
.fa-twitter { 
  color: #1A8CD8;
}
.table {
  max-width: 900px;
  width: 98%;
  text-align: center;
  font-family: "PremierSans-Regular", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  font-weight: bolder;
  padding-bottom: 5px;
  padding-top: 5px; 
  margin-bottom: 5px; 
}
th{
  border: none!important ; 
}
.headerRow {
  background-color: var(--fplpurple);
  height: 50px;
  color: white;
}
.tableRow {
  background-color: var(--tableRow);
  color: var(--text);
  height: 50px;
}
.oddTableRow {
  background-color: var(--oddTableRow);
  color: var(--text);
  height: 50px;
}
.tableCell {
  border: none !important;
  border-bottom: 1px solid var(--highlight) !important;
  background-image: none !important;
  background-color: var(--oddTableRow);
}
.selectedTableRow {
  background-color: var(--highlight);
}
.hoverTableRow1 {
  background-color: none!important;
  text-decoration: underline;
}
.hoverTableRow {
  background-color: none!important;
}

.rank-down {
  color: var(--fplpink);
}
.rank-up {
  color: var(--fplgreen);
}

.entry-name{
  font-weight: bolder;
  text-align: left;
}
.player-name{
  font-weight: lighter;
  text-align: left;
}

.help{
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin-top: 50px;
  margin-bottom: 5px;
  cursor: pointer;
}
.google-visualization-table .gradient {
  background-image: none !important;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: var(--fplpurple);
  margin: auto;
  padding: 0;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--fplblue);
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--fplblue);
  color: white;
}

.loading-bar-div{
  background-color: white;
  color: transparent;
}
.loading-bar{
  text-align: left!important; 
  height:40px; 
  background-color:var(--fplpurple);
}

.previous-user{
  position: relative;
  background-color: var(--fplpurple);
  max-width: 100px;
  padding: 10px;
  cursor: pointer;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}